<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌列表案例</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

        <!-- 输入bs3-panel:primary 即可快速创建面板

        输入bs3-table:bordered 即可快速创建表格，表格样式很多，可以去官网看看哪些喜欢就加上。
        
        面板里面还要写一些input标签 -->

    <div id="app">
        <!-- 快捷生产模板bs3-panel -->
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">Add Brand </h3>
              </div>

              <!-- form-inline是文字和输入框在同一行显示，form-control是设置默认宽度width为100% -->
              <div class="panel-body form-inline">
                    <label>
                        ID:
                        <input type="text" class="form-control" v-model="id">
                    </label>    
                    <label>
                        Name:
                        <input type="text" class="form-control" v-model="name">
                    </label> 
                    <label>
                    <input type="button" value="添加" class="btn btn-primary" @click="add">
                    </label>
                    <label>
                        搜索关键字
                        <input type="text" class="form-control" v-model="keywords">
                    </label>
              </div>
        </div>
        
        <!-- 快捷生产模板bs3-table -->
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!--之前，v-for中的数据都是直接从data上的list中直接渲染过来的-->
                <!--现在我们自定义了一个search方法，同时把所有关键字，通过传参的形式传递给了search方法-->
                <!--在search方法内部，通过执行for循环，把所有符合搜索关键词的数据保存到一个新的数组中，返回-->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime}}</td>
                    <td>
                            <!-- .prevent事件修饰符让a标签的链接不起效 -->
                        <a href="" @click.prevent="del(item.id)" >删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script>
        var vm = new Vue(
            {
                el: '#app',
                data:{
                    // 因为要进行双向绑定，所以要给id，name，keywords赋值为空。
                    id: "",
                    name: "",
                    keywords:'',
                    list: [
                    {id:1, name:"宝马", ctime: new Date()},
                    {id:2, name:"奔驰", ctime: new Date()},
                    ]    
                },
                methods: {
                    add(){
                        // 1获取到id和name,直接从data上获取
                        // 2组织出一个对象
                        // 3调用相关数组方法， 添加到data上的list中
                        // 4在vue中已经实现了数据的双向绑定，每当我们修改了data中的数据，VUe会监听到数据的改动，自动把更新的数据应用到应用上
                        var car = {id:this.id, name:this.name, ctime:new Date()}
                        this.list.push(car) 
                        this.id=this.name=''
                    },
                    del(id){
                        //1如歌根据id找到删除这一项的索引
                        //2直接调用数组的splice方法
                        this.list.some((item, i)=>{
                            if(item.id==id){
                                //在数组的some方法中。如果return true，就会立即终止这个后续循环
                                // splice语法，第一个参数是从何处添加/删除，第二个参数是删除多少个，可以为零，即不删除，如果该参数为空，则默认把后面的都删除。
                                // 第三个参数是可选，要添加数组的新元素
                                this.list.splice(i,1)  //删除一个
                                return ture;
                            }
                        })

                        // 方法二：一个是js出的新方法，findIndex这个专门就是找索引的
                        // var index=this.list.findIndex(item=>{
                        //     if(item.id==id)
                        //     return true
                        // })
                        // this.list.splice(index,1)

                    },
                    search(keywords){
                        var newList = []
                        //For each some filter findIndex这些都属于数组的新方法
                        //都会对数组中的每一项进行遍历
                        /*
                        方法一
                        this.list.forEach(item=>{
                            if(item.name.indexOf(keywords)!=-1){
                                newList.push(item)
                            }
                        })
                        return newList
                        */
                        //方法二
                        //在ES6中，为字符串提供了一个新的方法。String.prototype.includes('要包含合法的字符串')
                        //如果包含，则返回true，否则返回false
                         // contain
                        var newList = this.list.filter(item=>{
                            // 使用function定义的函数，this的指向随着调用环境的变化而变化的，而es6中箭头函数中的this指向是固定不变的，一直指向的是定义函数的环境。
                            if(item.name.includes(keywords)){
                                return item
                            }
                        })
                        return newList
                    }
                  
        }
    }
        );
    </script>
</body>
</html>